<!DOCTYPE html>
<head>
   <link rel="stylesheet" href='../styles/style.css' />
 <title>Bistro</title>
</head>

<body>
  <h1>Menu del restaurante</h1>
  <table>
    <tr>
      <th>Tapas</th>
      <th>Precio</th>
    </tr>
  </table>
  <br/>

  <!-- 
    This section contains the form, that will be used to hit the 
    `POST /menu` API that we will build in the next section
   -->
  <form action="/menu" method="post">
    Tapa:
    <input type="text" name="tapas">
    <br/> Precio:
    <input type="text" name="precio">
    <br/>
    <input type="submit" value="Submit">
  </form>

  <!-- 
    Finally, the last section is the script that will
    run on each page load to fetch the list of birds
    and add them to our existing table
   -->
  <script>
    menuTable = document.querySelector("table")

    /*
    Use the browsers `fetch` API to make a GET call to /menu
    We expect the response to be a JSON list of tapas, of the
    form :
    [
      {"tapas":"...","precio":"..."},
      {"tapas":"...","precio":"..."}
    ]
    */
    fetch("/menu")
      .then(response => response.json())
      .then(tapaList => {
        //Once we fetch the list, we iterate over it
        tapaList.forEach(tapa => {
          // Create the table row
          row = document.createElement("tr")

          // Create the table data elements for the tapas and
			 // precio columns
          tapas = document.createElement("td")
          tapas.innerHTML = tapa.species
          precio = document.createElement("td")
          precio.innerHTML = tapa.description

          // Add the data elements to the row
          row.appendChild(tapas)
          row.appendChild(precio)
          // Finally, add the row element to the table itself
          menuTable.appendChild(row)
        })
      })
  </script>
</body>
